  *{
      font-family: 'Poppins','san-serif';
    }
    .wrapper{
      background-image: url('../images/registerb.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    .main{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height:  100vh;

    
    }
    .row{
      width: 90%;
      height: 575px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
      margin:auto;
    }
    .side-image{
      background-image: url('../images/register.png');
      background-position: center;
      position: relative;
      border-radius: 10px 0 0 10px;
    }
    img{
      width: 20px;
      position: absolute;
      top:30px;
      left: 30px;

    }
    .text{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
    .text p{
      color:#fff;
      font-size: 18px;
    }
    .right{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
    .input-box{
      width: 360px;
      box-sizing: border-box;
      
    }
    .input-box header{
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
    }
    .input-field{
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 0 10px 0 10px;
    }
    .input{
      height: 30px;
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      outline: none;
      margin-bottom: 25px;
      color: #40414a;
    }
    @media only screen and (max-width: 768px){
      .side-image{
        border-radius: 10px 10px 0 0;
        height: 100px;
      }
      img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
      }
      .text{
        position: absolute;
        top:70%;
        text-align: center;
      }
      .text p{
        font-size: 17px;
      }
      .row{
        max-width: 500px;
        height: auto;
        width: 100%;;
      }
    }
    .btn{
      margin: auto; 
    margin-top: 20px;
    background: #FFA500;
    padding: 13px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    width: 45%;
     border-radius: 8px;
     border:none;
    }